* {
  margin: 0;
  padding: 0;
}

:root {
  --color-base: red;
  --color-escrita: black;
}

body {
  font-family: "Amatic SC", cursive;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header img {
  margin: 5px;
  border-radius: 5px;

  position: absolute;
}

.nav-links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

  height: 100px;
}

nav a {
  margin: 10px;

  text-decoration: none;
  color: var(--color-escrita);
}

#destaque {
  border-bottom: black solid;
}

section {
  max-width: 100%;
  margin: 0 15px;
  column-count: 3;
}

section img {
  display: block;
  width: 100%;

  border-radius: 5px;
  cursor: pointer;  
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section-img{
  overflow: hidden;
}

.section-img:hover img{
  transform: scale(1.1);

  -moz-transition: scale(1.1);
  -webkit-transition: scale(1.1);
}

section img:active{
  transform: scale(2);
}

section p{
  font-size: 25px;
  text-align: right;
}

section p:hover{
  transform: scaleY(2);

  cursor: pointer;
}

.section-img{
  margin-bottom: 10px;
}

#ultima{
  margin-bottom: 6em;
}

.icon {
  width: 3em;
  height: 3em;
  margin: 0px 2vw;

  opacity: 0.7;
}

#selecionado {
  opacity: 1;
}

footer{
  z-index: 1;
  bottom: 0.5em;
  position: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--color-base);
  margin: 0% 10%;
  border-radius: 10px;
  padding: 10px;

  height: 5%;
  width: 80%;
}

#icon-tsuki {
  border-radius: 30px;
}

@media (max-width: 470px) {
  section {
    column-count: 2;
  }

  .icon {
    width: 2em;
    height: 2em;
  }

  header img {
    width: 50px;
    height: auto;
  }
}
